$red: #e84118;
$redChip: #ff7979;
$green: #009432;
$greenChip: #78e08f;
$blue: #3742fa;
$blueChip: #70a1ff;
$yellow: #ffd32a;
$yellowChip: #ffda79;
$chipText: #2f3542;
$white: whitesmoke;
$blockBorder: darkslategray;
$shadow: rgba(0, 0, 0, 0.5);
