/* VARIABLES */
/* ================ */

:root {
  --board-size: calc(2000px / 3);
  --cell-size: calc(var(--board-size) * 0.09);

  --offset: calc(var(--board-size) * 0.05);
  --init-left: calc(var(--offset) + (var(--cell-size) / 2));
  --init-bottom: calc(var(--offset) + (var(--cell-size) / 2));

  --player-size: calc(var(--cell-size) * 0.5);

  --dice-size: calc(var(--cell-size) * 1.5);
}





body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}



/* WRAPPER */
/* ================ */

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HEAD BAR */
/* ================ */

#head-bar {
  height: calc(var(--cell-size) / 2);
  position: relative;
}

#reset {
  width: calc(var(--cell-size) / 2);
  height: calc(var(--cell-size) / 2);
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid gray;
  position: absolute;
  left: var(--offset);
  background: mistyrose url('images/reset.png') no-repeat center;
  background-size: calc(var(--cell-size) * 0.4);
  cursor: pointer;
}

#status {
  width: calc(var(--cell-size) * 4);
  height: calc(var(--cell-size) / 2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);;
  display: grid;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;
  font-size: 1.2rem;
  font-weight: 700;
  background: midnightblue;
  cursor: default;
}


/* BOARD */
/* ================ */

#board {
  width: var(--board-size);
  height: var(--board-size);
  position: relative;
  background: url('images/board.png') no-repeat center;
  background-size: cover;
}

.player {
  width: var(--player-size);
  height: var(--player-size);
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid orange;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  transition: all 300ms;
  cursor: default;
}

#player1 {
  background: indigo;
}

#player2 {
  background: darkslategray;
}


/* DICE */
/* ================ */

#dice {
  width: var(--dice-size);
  height: var(--dice-size);
  margin: 0 auto;
  background: url('images/dice-6.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
}