body {
    margin: 0;
}

#canvas {
    width: 100vw;
    height: calc(100vh - 48px);
    display: block;
}

.sliders {
    width: 100%;
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.slider {
    width: 112px;
    margin: 0 4px;
    cursor: pointer;
}

.slider span {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    text-align: center;
}

.slider input {
    margin: 0;
    color: red;
}
