body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1em;
  font-size: 1rem;;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



#outer {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  background: #aaa;
}

.heading {
  width: 100%;
  height: 48px;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #80f;
}

.stat-box {
  width: 96px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#bomb-image {
  width: 36px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.75) url("images/bomb.png") no-repeat center;
  background-size: 28px;
}

#bomb-count {
  width: 36px;
  height: 100%;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #005;
}

#bomb-count span {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.btn-reset {
  width: 80px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #aaa;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff0;
  transition: all 500ms;
  cursor: pointer;
}

.btn-reset:hover,
.btn-reset:active {
  background-color: #fe0;
}

#flag-image {
  width: 36px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 24px;
  background: rgba(255, 255, 255, 0.75) url("images/flag.png") no-repeat center;
  background-size: 32px;
}

#flag-count {
  width: 36px;
  height: 100%;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #005;
}

#flag-count span {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.cell {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #000;
  float: left;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f00;
}

.cell span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

#status {
  width: 100%;
  height: 48px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #005;
}

#status span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}