@import '../css-utils/sizes';
@import '../css-utils/colors';

.player-chip {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: $blockSize * 0.7;
  height: $blockSize * 0.7;
  border: 2px solid $blockBorder;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: $chipText;
  font-weight: bolder;
  font-size: $blockSize / 3;
  line-height: calc(#{$blockSize / 2} + 0);

  &.red-chip {
    background: $redChip;
  }

  &.green-chip {
    background: $greenChip;
  }

  &.yellow-chip {
    background: $yellowChip;
  }

  &.blue-chip {
    background: $blueChip;
  }
}
